################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/shell/.vs/shell/v16
/.vs/shell3/v16
/.vs
/shell/bin/Debug
